@charset "UTF-8";

@media screen and (min-width: 280px) and (max-width: 600px) {


header {
    width: 450px;
}
nav {
   width: 450px;
}

}
body {
    width: 550px;
}
#img1 {
    width: 193px;
}
#img2 {
    width: 193px;
}
#img3 {
    width: 193px;
}
#img4 {
    width: 193px;
}

}