@charset "UTF-8";

@media screen and (min-width: 280px) and (max-width: 480px) {


header {
    width: 400px;
}
nav {
   width: 400px;
}
html , body {
    width: 400px;
}
#img1 {
    width: 100px;
}
#img2 {
    width: 150px;
}
#img3 {
    width: 200px;
}


}